{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<h2 class="mt-2 mb-2">Reset Your Password</h2>
<hr>
<div class="row">
	<div class="col-md-4">
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password(size=32, class_="form-control") }}
			</div>
			<div class="form-group">
				{{ form.password2.label }}
				{{ form.password2(size=32, class_="form-control") }}
			</div>
			{{ form.submit(class_="btn btn-primary") }}
		</form>
	</div>
</div>
{% endblock %}