{% from "_poster_tile.html" import poster_placeholder %}
{% if file is defined and file.custom_poster %}
	<img src="{{ url_for('static', filename='custom/file/' + file.id|string + '/w185/' + file.custom_poster )}}" loading="lazy" class="me-3 border align-self-start poster-sm" alt="{{ movie|display_title }} ({{ movie|display_year }})" style="width: 92px;">
{% elif movie.custom_poster %}
	<img src="{{ url_for('static', filename='custom/movie/' + movie.id|string + '/w185/' + movie.custom_poster )}}" loading="lazy" class="me-3 border align-self-start poster-sm" alt="{{ movie|display_title }} ({{ movie|display_year }})" style="width: 92px;">
{% elif movie.tmdb_poster_path %}
	<img src="{{ config['TMDB_IMAGE_URL'] }}/w185{{ movie.tmdb_poster_path }}" loading="lazy" class="me-3 border align-self-start poster-sm" alt="{{ movie|display_title }} ({{ movie|display_year }})" style="width: 92px;">
{% else %}
	{{ poster_placeholder("film", "me-3 poster-sm", "1.5em") }}
{% endif %}