{% if movie %}
	{% set title = movie.tmdb_title if movie.tmdb_title else movie.title %}
	{% set year = movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year %}
	{% set title_year = title ~ ' ' ~ year %}

	{% set criterion = '' %}
	{% if (movie.criterion_spine_number or movie.criterion_set_title) %}
		{% set criterion = ' Criterion Collection' %}
	{% endif %}

	{% set ebay_format = '&Format=DVD%7CBlu%252Dray%7C4K%2520UHD%2520Blu%252Dray' %}
	{% if instruction %}
		{% if instruction.endswith('on Blu-Ray') %}
			{% set ebay_format = '&Format=Blu%252Dray%7C4K%2520UHD%2520Blu%252Dray' %}
		{% elif instruction.endswith('4K UHD Blu-Ray') %}
			{% set ebay_format = '&Format=4K%2520UHD%2520Blu%252Dray' %}
		{% endif %}
	{% endif %}

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item" target="_blank" href="https://www.amazon.com/s?k={{ title|urlencode }}{{ criterion|urlencode }}&i=movies-tv" rel="noreferrer">Amazon</a>
		<a class="dropdown-item" target="_blank" href="https://www.barnesandnoble.com/s/{{ title|urlencode }}/_/N-8qh" rel="noreferrer">Barnes & Noble</a>
		<a class="dropdown-item" target="_blank" href="https://www.blu-ray.com/movies/search.php?action=search&keyword={{ title|urlencode }}&yearfrom={{ year }}&yearto={{ year }}&sortby=releasetimestamp" rel="noreferrer">Blu-ray.com</a>
		{% if (movie.criterion_spine_number or movie.criterion_set_title) and movie.criterion_in_print %}
			<a class="dropdown-item" target="_blank" href="{% if movie.criterion_film_id %}https://www.criterion.com/films/{{ movie.criterion_film_id }}{% else %}https://www.criterion.com/search?q={{ title|urlencode }}{% endif %}" rel="noreferrer">Criterion.com</a>
		{% endif %}
        <a class="dropdown-item" target="_blank" href="https://www.deepdiscount.com/search?mod=AV&q={{ title|urlencode }}" rel="noreferrer">DeepDiscount.com</a>
		<a class="dropdown-item" target="_blank" href="https://www.ebay.com/sch/617/i.html?_nkw={{ title_year|urlencode }}{{ criterion|urlencode }}{{ ebay_format }}&_sop=15" rel="noreferrer">eBay</a>
		{# The ad-hoc Radarr hand-off goes with the Find menu. One click
		   requests an unowned film with the house settings and starts the
		   search. After Radarr has the film, the entry reverts to the plain
		   Radarr link that every other page shows. A withdrawal happens in
		   Radarr itself #}
		{% if radarr_requestable and not in_radarr %}
			<form action="{{ url_for('main.radarr_request', origin=(request.full_path if request.query_string else request.path)) }}" method="post">
				{{ radarr_form.csrf_token }}
				{{ radarr_form.movie_id(value=movie.id) }}
				<button type="submit" name="radarr_request_submit" value="Request via Radarr" class="dropdown-item">Request via Radarr</button>
			</form>
		{% elif radarr_proxy_url %}
			<a class="dropdown-item" target="_blank" href="{{ radarr_proxy_url }}/movie/{{ movie.tmdb_id }}"{% if in_radarr %} title="Radarr is monitoring this film"{% endif %}>Radarr</a>
		{% endif %}
		<a class="dropdown-item" target="_blank" href="https://omgwtfnzbs.org/browse.php?search={{ title|urlencode }}&cat=35" rel="noreferrer">omgwtfnzbs</a>
	</div>
{% elif tv %}
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item" target="_blank" href="https://www.amazon.com/s?k={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}{% if season %}{% if season.season and season.season > 0 %} Season {{ season.season }}{% endif %}{% endif %}&i=movies-tv" rel="noreferrer">Amazon</a>
		<a class="dropdown-item" target="_blank" href="https://www.blu-ray.com/movies/search.php?action=search&keyword={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}&television=on" rel="noreferrer">Blu-ray.com</a>
        <a class="dropdown-item" target="_blank" href="https://www.deepdiscount.com/search?mod=AV&q={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}" rel="noreferrer">DeepDiscount.com</a>
		<a class="dropdown-item" target="_blank" href="https://www.ebay.com/sch/617/i.html?_nkw={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}{% if season %}{% if season.season and season.season > 0 %} Season {{ season.season }}{% endif %}{% endif %}{{ format|urlencode }}&_sop=15" rel="noreferrer">eBay</a>
	</div>
{% endif %}