{% if movie %}
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item" target="_blank" href="https://www.amazon.com/s?k={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }} {{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }}&i=movies-tv" rel="noreferrer">Amazon</a>
		{% if movie.criterion_spine_number or movie.criterion_set_title %}
			<a class="dropdown-item" target="_blank" href="https://www.criterion.com/search#stq={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}" rel="noreferrer">Criterion.com</a>
		{% endif %}
		<a class="dropdown-item" target="_blank" href="https://www.ebay.com/sch/617/i.html?_nkw={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }} {{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }}" rel="noreferrer">eBay</a>
		<a class="dropdown-item" target="_blank" href="https://dvd.netflix.com/Search?v1={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}" rel="noreferrer">Netflix</a>
		{% if radarr_proxy_url %}
			<a class="dropdown-item" target="_blank" href="{{ radarr_proxy_url }}/movie/{{ movie.tmdb_id }}">Radarr</a>
		{% endif %}
		<a class="dropdown-item" target="_blank" href="https://omgwtfnzbs.me/browse.php?search={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}&cat=35" rel="noreferrer">omgwtfnzbs</a>
	</div>
{% elif tv %}
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<a class="dropdown-item" target="_blank" href="https://www.amazon.com/s?k={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}{% if season %}{% if season.season and season.season > 0 %} Season {{ season.season }}{% endif %}{% endif %}&i=movies-tv" rel="noreferrer">Amazon</a>
		<a class="dropdown-item" target="_blank" href="https://www.ebay.com/sch/617/i.html?_nkw={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}{% if season %}{% if season.season and season.season > 0 %} Season {{ season.season }}{% endif %}{% endif %}" rel="noreferrer">eBay</a>
		<a class="dropdown-item" target="_blank" href="https://dvd.netflix.com/Search?v1={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}" rel="noreferrer">Netflix</a>
	</div>
{% endif %}