{% extends "base.html" %}

{% block app_content %}
<h2 class="mt-2 mb-n2">About Fitzflix</h2>
<hr>
<img src="{{ url_for('static', filename='fitzflix_logo.svg') }}" width="128px" height="128px" class="float-left mr-1">
<p><strong><a href="https://github.com/gfitzp/fitzflix" rel="noreferrer">Fitzflix</a></strong> was created by <a href="https://glennfitzpatrick.com/" rel="noreferrer">Glenn Fitzpatrick</a> so he would know what was in his family's library when browsing for movies at thrift shops, and to keep track of his <a href="https://twitter.com/fitzflix" rel="noreferrer">movie reviews</a>.</p>
<p><a href="mailto:glenn@glennfitzpatrick.com">glenn@glennfitzpatrick.com</a></p>
<p>
<p>Many thanks to <a href="https://blog.miguelgrinberg.com/index" rel="noreferrer">Miguel Grinberg</a> for his <a href="https://courses.miguelgrinberg.com/p/flask-mega-tutorial" rel="noreferrer">New and Improved Flask Mega-Tutorial</a>.</p>
<div id="license" style="text-align: center; display: inline-block;">
<pre class="border px-3 py-2" style="display: inline-block; text-align: left; height: 30vh; max-height: 30vh; min-width: 105%; overflow:auto;">
MIT License

Copyright (c) 2021–2024 Glenn Fitzpatrick

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
</pre>
</div>
<p>Code for creating generators of objects in S3 storage by <a href="https://alexwlchan.net/2019/07/listing-s3-keys/" rel="noreferrer">Alex Chan</a>, used under an MIT license.</p>
<hr>
<div class="row my-3">
	<div class="col-12 col-lg-3 my-10">
		<div class="text-lg-center"><a href="https://www.themoviedb.org" rel="noreferrer"><img src="{{ url_for('static', filename='tmdb_logo.svg') }}" alt="TMDb" height="30px"></a></div>
		<p><small><em>This product uses the <a href="https://www.themoviedb.org" rel="noreferrer">TMDb</a> API but is not endorsed or certified by TMDb.</em></small></p>
	</div>
	<div class="col-12 col-lg-3 my-10">
		<div class="text-lg-center"><a href="https://www.imdb.com" rel="noreferrer"><img src="{{ url_for('static', filename='imdb_logo.png') }}" alt="IMDb" height="30px" class="align-center"></a></div>
		<p><small><em>IMDb, IMDb.COM, and the IMDb logo are trademarks of IMDb.com, Inc. or its affiliates.</em></small></p>
	</div>
	<div class="col-12 col-lg-3 my-10">
		<div class="text-lg-center"><a href="https://letterboxd.com" rel="noreferrer"><img src="{{ url_for('static', filename='letterboxd_logo.svg') }}" alt="Letterboxd" height="40px"></a></div>
	</div>
	<div class="col-12 col-lg-3 my-10">
		<div class="text-lg-center"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="noreferrer"><img alt="Creative Commons License" style="border-width:0" src="https://www.licensebuttons.net/l/by-sa/3.0/88x31.png" /></a></div>
		<p><small><em>Wikipedia data is is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</em></small></p>
	</div>
</div>
{% endblock %}