{% extends "bootstrap.html" %}

{% block title %}
	{% if title %}Fitzflix - {{ title }}{% else %}Fitzflix{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='fitzflix_logo.svg') }}" height="40px" class="mr-1" alt="Fitzflix logo"></a>
	<a class="navbar-brand" href="{{ url_for('main.index') }}">Fitzflix</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
			</li>
			{% if not current_user.is_anonymous %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Library
				</a>
				<div class="dropdown-menu" aria-labeledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{{ url_for('main.movie_library') }}">Movies</a>
					<a class="dropdown-item" href="{{ url_for('main.tv_library') }}">TV Shows</a>
					<a class="dropdown-item" href="{{ url_for('main.files') }}">Files</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('main.criterion_collection') }}">Criterion Collection</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Shopping Lists
				</a>
				<div class="dropdown-menu" aria-labeledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{{ url_for('main.movie_shopping') }}">Movies</a>
					<a class="dropdown-item" href="{{ url_for('main.tv_shopping') }}">TV Shows</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('main.movie_shopping', max_quality='14', title='Below WEBDL-1080p') }}">Below WEBDL-1080p</a>
					<a class="dropdown-item" href="{{ url_for('main.movie_shopping', library='criterion', max_quality='21', title='Criterion Collection movies to upgrade') }}">Criterion Collection</a>
					<a class="dropdown-item" href="{{ url_for('main.movie_shopping', media='digital', min_quality='1', max_quality='21', title='Digital downloads to get as physical media') }}">Digital Downloads</a>
					<a class="dropdown-item" href="{{ url_for('main.movie_shopping', min_quality='3', max_quality='21', title='HDTV-quality movies') }}">HDTV Quality</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('main.reviews') }}">My Reviews</a>
			</li>
			{% endif %}
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if current_user.is_anonymous %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('main.about') }}">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
			</li>
			{% else %}
			<li class="nav-item">
				{% set queue_count = current_user.get_queue_count() %}
				<a class="nav-link" href="{{ url_for('main.queue') }}" tabindex="-1">Queue <span class="badge badge-secondary ml-1" id="queue_count">{{ queue_count }}</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('main.admin') }}">Admin</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('main.about') }}">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-2 mb-2">
	{% if current_user.is_authenticated %}
 	<div id="running-tasks">
 		{% with tasks = current_user.get_queue_details() %}
 		{% if tasks %}
 			{% for task in tasks.running %}
 			<div class="alert alert-info mt-3" role="alert" id="{{ task.id }}">{{ task.description }}...</div>
 			{% endfor %}
 		{% endif %}
 		{% endwith %}
 	</div>
 	{% endif %}


	<div id="flash-notifications">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			{% if category == "message" %}
			<div class="alert alert-info mt-3" role="alert">{{ message }}</div>
			{% else %}
			<div class="alert alert-{{ category }} mt-3" role="alert">{{ message }}</div>
			{% endif %}
			{% endfor %}
		{% endif %}
		{% endwith %}
	</div>

	{# application content goes in the app_content block #}
	{% block app_content %}
	{% endblock %}
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
    {{ moment.include_moment(version="2.29.1") }}
	<script>
        {%if current_user.is_authenticated %}

		function set_queue_count(n) {
            $("#queue_count").text(n);
        }

        function flash_queue_count(color) {
        	$("#queue_count").addClass("flash-" + color);
            setTimeout(
            	function() {
            		$("#queue_count").removeClass("flash-" + color);
            	}, 1000
            );
        }

		function current_queue() {
			$.ajax('{{ url_for('api.queue_details') }}').done(
				function(queue_details) {
					console.log(queue_details);
					current_queue_count = parseInt(document.getElementById("queue_count").textContent, 10);
					set_queue_count(queue_details.count);
					if (queue_details.count < current_queue_count) {
						flash_queue_count("green");
					} else if (queue_details.count > current_queue_count) {
						flash_queue_count("red");
					}
					console.log(queue_details.running);
					running = queue_details.running;

					oldTasks = document.getElementById("running-tasks")

					while (oldTasks.firstChild) {
						oldTasks.firstChild.remove();
					}

					for (var i = 0; i < running.length; i++) {
						var newAlert = document.createElement("div");
						newAlert.className = "alert alert-info mt-3";
						newAlert.setAttribute("role", "alert");
						newAlert.id = running[i].id;
						var newProgress = document.createElement("div");
						newProgress.className = "progress mt-1";
						var newProgressBar = document.createElement("div");
						newProgressBar.setAttribute("role", "progressbar");
						newProgressBar.setAttribute("aria-valuemin", "0");
						newProgressBar.setAttribute("aria-valuemax", "100");
						if (running[i].progress >= 0) {
							$(newAlert).text(running[i].description + "... " + running[i].progress + "%");
							newProgressBar.className = "progress-bar bg-info";
							newProgressBar.setAttribute("style", "width: " + running[i].progress + "%");
							newProgressBar.setAttribute("aria-valuenow", running[i].progress);
							console.log(running[i].id, running[i].description, running[i].progress);
						} else {
							$(newAlert).text(running[i].description + "...");
							newProgressBar.className = "progress-bar progress-bar-striped progress-bar-animated bg-info";
							newProgressBar.setAttribute("style", "width: 100%");
							newProgressBar.setAttribute("aria-valuenow", "100");
							console.log(running[i].id, running[i].description);
						}
						newProgress.appendChild(newProgressBar);
						document.getElementById("running-tasks").appendChild(newAlert);
						document.getElementById(newAlert.id).appendChild(newProgress);
					}

					all_tasks = queue_details.all;

					oldTasks = document.getElementById("all-tasks");
					if (oldTasks) {
						while (oldTasks.firstChild) {
							oldTasks.firstChild.remove();
						}

						for (var i = 0; i < all_tasks.length; i++) {

							var taskPosition = document.createElement("th");
							taskPosition.setAttribute("scope", "row");
							taskPosition.setAttribute("class", "col-1");
							$(taskPosition).text(all_tasks[i].position);

							var taskId = document.createElement("td");
							taskId.setAttribute("class", "col-5 col-sm-5 col-lg-7");
							$(taskId).text(all_tasks[i].description);

							var enqueuedDate = document.createElement("abbr");
							enqueuedDate.setAttribute("title", all_tasks[i].enqueued_at);
							$(enqueuedDate).text(moment(all_tasks[i].enqueued_at).fromNow());

							var taskEnqueued = document.createElement("td");
							taskEnqueued.setAttribute("class", "col-3 col-sm-3 col-lg-2");
							taskEnqueued.appendChild(enqueuedDate);

							var startedDate = document.createElement("abbr");
							startedDate.setAttribute("title", all_tasks[i].started_at);
							if (all_tasks[i].started_at) {
								$(startedDate).text(moment(all_tasks[i].started_at).fromNow());
							}

							var taskStarted = document.createElement("td");
							taskStarted.setAttribute("class", "col-3 col-sm-3 col-lg-2");
							taskStarted.appendChild(startedDate);

							var taskRow = document.createElement("tr");
							taskRow.setAttribute("class", "d-flex");
							taskRow.appendChild(taskPosition);
							taskRow.appendChild(taskId);
							taskRow.appendChild(taskEnqueued);
							taskRow.appendChild(taskStarted);

							document.getElementById("all-tasks").appendChild(taskRow);

						}
					}
				}
			);
			setTimeout(current_queue, 5000);
		}

        $(current_queue());

        {% endif %}
    </script>
{% endblock %}