{% extends "base.html" %}
{% from "_page_header.html" import page_header, quality_filter, library_search %}
{% from "_pagination.html" import pagination, pagination_pair %}

{% block app_content %}
{% call page_header(title) %}
	{{ quality_filter(filter_form) }}
	{{ library_search(library_search_form) }}
{% endcall %}
{% if files %}
	{{ pagination_pair(pages, 'main.files', {'quality': request.args.get('quality'), 'q': request.args.get('q')}, prev_url, next_url) }}
	<div class="table-responsive">
		<table class="table table-striped">
			<thead class="table-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Title</th>
					<th scope="col"></th>
					<th scope="col">File</th>
					<th scope="col">Quality</th>
				</tr>
			</thead>
			<tbody>
				{% for file, quality, feature, movie, tv, rank in files %}
				<tr>
					<th scope="row" class="align-middle">{{ file.id }}</th>
					<td class="align-middle">
						{% if movie %}
							<a href="{{ url_for('main.movie', movie_id=movie.id) }}">{{ movie|display_title }} ({{ movie|display_year }})</a>
						{% elif tv %}
							<a href="{{ url_for('main.tv', series_id=tv.id) }}">{{ tv.tmdb_name if tv.tmdb_name else tv.title }}</a>
						{% endif %}
					</td>
					<td class="align-middle text-end">{% if feature.feature_type %}<span class="badge text-bg-info">{{ feature.feature_type }}</span>{% endif %}</td>
					<td class="align-middle"><a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a></td>
					<td class="align-middle">{% if rank == 1 %}<span class="badge text-bg-success">{% elif file.quality.physical_media == 1 %}<span class="badge text-bg-warning">{% else %}<span class="badge text-bg-light">{% endif %}{{ quality.quality_title }}</span></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{{ pagination_pair(pages, 'main.files', {'quality': request.args.get('quality'), 'q': request.args.get('q')}, prev_url, next_url) }}
{% endif %}
{% endblock %}