{% extends "base.html" %}

{% block app_content %}
<div class="mt-2 mb-n2">
	<h2>{{ title }}</h2>
</div>
<div class="row align-items-end">
	<div class="col-sm-12 col-md-7 col-lg-8 mb-md-n4">
		<form action="" method="post">
			{{ filter_form.hidden_tag() }}
			<div class="form-row">
				<div class="col-12 col-sm-11 col-md-11">
					<div class="form-group form-inline">
						{{ filter_form.quality.label(class_="mr-2") }}
						{{ filter_form.quality(class_="form-control form-control-sm col-5 col-md-6 col-lg-5 mr-2") }}
						{{ filter_form.filter_submit(class_="btn btn-sm btn-primary col col-md-2") }}
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-sm-12 col-md-5 col-lg-4 mb-md-n3">
		<form class="form-inline float-sm-right mb-2" action="" method="post">
			{{ library_search_form.hidden_tag() }}
			{{ library_search_form.search_query(class_="form-control form-control-sm mr-2 col-8") }}
			{{ library_search_form.search_submit(class_="btn btn-sm btn-primary ml-2 col") }}
		</form>
	</div>
</div>
<hr>
{% if files %}
	<nav class="d-none d-sm-block" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages() %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
	<nav class="d-block d-sm-none" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Title</th>
				<th scope="col"></th>
				<th scope="col">File</th>
				<th scope="col">Quality</th>
			</tr>
		</thead>
		<tbody>
			{% for file, quality, feature, movie, tv, rank in files %}
			<tr>
				<th scope="row" class="align-middle">{{ file.id }}</th>
				<td class="align-middle">
					{% if movie %}
						<a href="{{ url_for('main.movie', movie_id=movie.id) }}">{{ movie.tmdb_title if movie.tmdb_title else movie.title }} ({{ movie.tmdb_release_date.strftime('%Y') if movie.tmdb_title else movie.year }})</a>
					{% elif tv %}
						<a href="{{ url_for('main.tv', series_id=tv.id) }}">{{ tv.tmdb_name if tv.tmdb_name else tv.title }}</a>
					{% endif %}
				</td>
				<td class="align-middle text-right">{% if feature.feature_type %}<span class="badge badge-info">{{ feature.feature_type }}</span>{% endif %}</td>
				<td class="align-middle"><a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a></td>
				<td class="align-middle">{% if rank == 1 %}<span class="badge badge-success">{% elif file.quality.physical_media == 1 %}<span class="badge badge-warning">{% else %}<span class="badge badge-light">{% endif %}{{ quality.quality_title }}</span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav class="d-none d-sm-block" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages() %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
	<nav class="d-block d-sm-none" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.files', page=page, quality=request.args.get('quality'), q=request.args.get('q')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
{% endif %}
{% endblock %}