{% extends "base.html" %}

{% block app_content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  	<li class="breadcrumb-item"><a href="{{ url_for('main.movie_library') }}">Movies</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.movie', movie_id=movie.id) }}">{{ movie.tmdb_title if movie.tmdb_title else movie.title }} ({{ movie.tmdb_release_date.strftime('%Y') if movie.tmdb_title else movie.year }})</a></li>
    <li class="breadcrumb-item active" aria-current="page">Files</li>
  </ol>
</nav>
<h2 class="mt-n2">{{ title }}</h2>
<table class="table table-striped">
	<thead class="thead-light">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">File</th>
			<th scope="col"></th>
			<th scope="col">Quality</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for file, movie, quality, feature, rank in files %}
		<tr>
			<th scope="row" class="align-middle">{{ file.id }}</th>
			<td class="align-middle"><a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a></td>
			<td class="align-middle">{% if feature.feature_type %}<span class="badge badge-info">{{ feature.feature_type }}</span>{% endif %}</td>
			<td class="align-middle">{{ quality.quality_title }}</td>
			<td class="align-middle">{% if quality.physical_media %}<span class="badge badge-success">Physical media</span>{% endif %}</td>
			<td class="align-middle">{% if rank == 1 %}<span class="badge badge-success">Best</span>{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}