{% extends "base.html" %}

{% block app_content %}
<h2 class="mt-2 mb-n2">{{ title }}</h2>
<hr>
{% if localization_queue %}
	<h3 class="mt-2 mb-2">Localization Queue</h3>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col" style="width: 49%;">ID</th>
				<th scope="col" style="width: 17%;">Status</th>
				<th scope="col" style="width: 17%;">Enqueued</th>
				<th scope="col" style="width: 17%;">Started</th>
			</tr>
		</thead>
		<tbody>
			{% for localization in localization_queue %}
			<tr>
				<th scope="row">{{ localization.position if localization.position }}</th>
				<td>{{ localization.id }}</td>
				<td>{{ localization.status }}</td>
				<td>{{ moment(localization.enqueued_at).fromNow() }}</td>
				<td>{{ moment(localization.started_at).fromNow() if localization.started_at }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% if transcode_queue %}
	<h3 class="mt-2 mb-2">Transcode Queue</h3>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col" style="width: 49%;">ID</th>
				<th scope="col" style="width: 17%;">Status</th>
				<th scope="col" style="width: 17%;">Enqueued</th>
				<th scope="col" style="width: 17%;">Started</th>
			</tr>
		</thead>
		<tbody>
			{% for transcode in transcode_queue %}
			<tr>
				<th scope="row">{{ transcode.position if transcode.position }}</th>
				<td>{{ transcode.id }}</td>
				<td>{{ transcode.status }}</td>
				<td>{{ moment(transcode.enqueued_at).fromNow() }}</td>
				<td>{{ moment(transcode.started_at).fromNow() if transcode.started_at }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}