{% extends "base.html" %}

{% block app_content %}
<h2 class="mt-2 mb-n2">{{ title }}</h2>
<hr>
{% if localization_queue %}
	<h3 class="mt-2 mb-2">Localization Queue</h3>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">File</th>
				<th scope="col">Enqueued</th>
				<th scope="col">Started</th>
			</tr>
		</thead>
		<tbody>
			{% for localization in localization_queue %}
			<tr>
				<th scope="row">{{ localization.position if localization.position }}</th>
				<td>{{ localization.id }}</td>
				<td><abbr title="{{ moment(localization.enqueued_at).fornat('LLL') }}">{{ moment(localization.enqueued_at).fromNow() }}</abbr></td>
				<td><abbr title="{{ moment(localization.started_at).format('LLL') if localization.started_at }}">{{ moment(localization.started_at).fromNow() if localization.started_at }}</abbr></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% if transcode_queue %}
	<h3 class="mt-2 mb-2">Transcode Queue</h3>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">File</th>
				<th scope="col">Enqueued</th>
				<th scope="col">Started</th>
			</tr>
		</thead>
		<tbody>
			{% for transcode in transcode_queue %}
			<tr>
				<th scope="row">{{ transcode.position if transcode.position }}</th>
				<td>{{ transcode.id }}</td>
				<td><abbr title="{{ moment(transcode.enqueued_at).format('LLL') }}">{{ moment(transcode.enqueued_at).fromNow() }}</abbr></td>
				<td><abbr title="{{ moment(transcode.started_at).format('LLL') if transcode.started_at }}">{{ moment(transcode.started_at).fromNow() if transcode.started_at }}</abbr></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}