{% extends "base.html" %}

{% block app_content %}
<div class="row mt-n2 mb-n3 d-flex">
	<h2 class="col-12">{{ title }}</h2>
</div>
<hr>
{% if recently_added %}
<nav aria-label="...">
	<ul class="pagination">
		<li class="page-item{% if not prev_url %} disabled{% endif %}">
			<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
		</li>
		{% if pages %}
		{% for page in pages.iter_pages() %}
			{% if page %}
				{% if page == pages.page %}
					<li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li class="page-item{% if not next_url %} disabled{% endif %}">
			<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
		</li>
	</ul>
</nav>
{% for file in recently_added %}
<div class="media mb-2">
	{% if file.movie %}
		{% set movie = file.movie %}
		<a href="{{ url_for('main.file', file_id=file.id) }}">
			{% include "_movie_poster_small.html" %}
		</a>
		<div class="media-body">
			<h5 class="mt-0 mb-0">
				<a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a>
			</h5>
			{{ movie.tmdb_title if movie.tmdb_title else movie.title }} ({{ movie.tmdb_release_date.strftime("%Y") if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }})<br/>
			{% if file.version %}{{ file.version }}<br/>{% endif %}
			{% if file.feature_type_id %}{{ file.feature_type.feature_type }} - {{ file.plex_title }}<br/>{% endif %}
			{{ file.quality.quality_title }}
		</div>
	{% elif file.tv_series %}
		{% set tv = file.tv_series %}
		<a href="{{ url_for('main.file', file_id=file.id) }}">
			{% include "_tv_poster_small.html" %}
		</a>
		<div class="media-body">
			<h5 class="mt-0 mb-0">
				<a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a>
			</h5>
			{{ file.tv_series.tmdb_title if file.tv_series.tmdb_title else file.tv_series.title }}<br/>
			Season {{ file.season }}, {% if file.last_episode == file.episode %}Episode {{ file.episode }}{% else %}Episodes {{ file.episode }}–{{ file.last_episode }}{% endif %}<br/>
			{{ file.quality.quality_title }}
		</div>
	{% endif %}
</div>
{% endfor %}
<nav aria-label="...">
	<ul class="pagination">
		<li class="page-item{% if not prev_url %} disabled{% endif %}">
			<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
		</li>
		{% if pages %}
		{% for page in pages.iter_pages() %}
			{% if page %}
				{% if page == pages.page %}
					<li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li class="page-item{% if not next_url %} disabled{% endif %}">
			<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}