{% extends "base.html" %}

{% block app_content %}
<div class="row mt-n2 mb-n3 d-flex">
	<h2 class="col-12">{{ title }}</h2>
</div>
<hr>
{% if recently_added %}
<nav class="d-none d-sm-block" aria-label="...">
	<ul class="pagination">
		<li class="page-item{% if not prev_url %} disabled{% endif %}">
			<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
		</li>
		{% if pages %}
		{% for page in pages.iter_pages() %}
			{% if page %}
				{% if page == pages.page %}
					<li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li class="page-item{% if not next_url %} disabled{% endif %}">
			<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
		</li>
	</ul>
</nav>
<nav class="d-block d-sm-none" aria-label="...">
	<ul class="pagination">
		<li class="page-item{% if not prev_url %} disabled{% endif %}">
			<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
		</li>
		{% if pages %}
		{% for page in pages.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
			{% if page %}
				{% if page == pages.page %}
					<li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li class="page-item{% if not next_url %} disabled{% endif %}">
			<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
		</li>
	</ul>
</nav>

{% for file in recently_added %}
<div class="media mb-2">
	{% if file.movie %}
		{% set movie = file.movie %}
		<a href="{{ url_for('main.movie', movie_id=movie.id) }}">
			{% include "_movie_poster_small.html" %}
		</a>
		<div class="media-body">
			<div class="text-muted small font-italic">Added {{ moment(file.date_added).format("LLL") }}{% if file.date_updated %}, file details last updated {{ moment(file.date_updated).format("LLL") }}{% endif %}</div>
			<h5 class="mt-0 mb-0">
				<a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a>
			</h5>
			<a href="{{ url_for('main.movie', movie_id=movie.id) }}">{{ movie.tmdb_title if movie.tmdb_title else movie.title }} ({{ movie.tmdb_release_date.strftime("%Y") if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }})</a><br/>
			{% if file.edition %}{{ file.edition }}<br/>{% endif %}
			{% if file.feature_type_id %}{{ file.feature_type.feature_type }} - {{ file.plex_title }}<br/>{% endif %}
			{{ file.quality.quality_title }}<br/>
			{% if file.audiotrack %}Audio tracks: {% for track in file.audiotrack %}
				{% if track.default == 1 and track.language not in native_language %}<span class="badge badge-warning">
				{% elif track.default == 1 %}<span class="badge badge-success">
				{% else %}<span class="badge badge-light">
				{% endif %}{{ track.language }}{% if track.default == 1 and track.language not in native_language %} (foreign){% endif %}</span> {% endfor %}<br/>{% endif %}
			{% if file.subtrack|length > 0 %}Subtitle tracks: {% for track in file.subtrack %}
				{% if track.default == 1 %}<span class="badge badge-success">
				{% elif track.forced == 1 %}<span class="badge badge-warning">
				{% else %}<span class="badge badge-light">
				{% endif %}{{ track.language }}{% if track.default == 1 %} (default){% elif track.forced == 1 %} (forced){% endif %}</span> {% endfor %}<br/>{% endif %}
		</div>
	{% elif file.tv_series %}
		{% set tv = file.tv_series %}
		<a href="{{ url_for('main.file', file_id=file.id) }}">
			{% include "_tv_poster_small.html" %}
		</a>
		<div class="media-body">
			<div class="text-muted small font-italic">Added {{ moment(file.date_added).format("LLL") }}{% if file.date_updated %}, file details last updated {{ moment(file.date_updated).format("LLL") }}{% endif %}</div>
			<h5 class="mt-0 mb-0">
				<a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a>
			</h5>
			<a href="{{ url_for('main.tv', series_id=file.series_id) }}">{{ file.tv_series.tmdb_title if file.tv_series.tmdb_title else file.tv_series.title }}</a><br/>
			<a href="{{ url_for('main.season', series_id=file.series_id, season=file.season) }}">Season {{ file.season }}, {% if file.last_episode == file.episode %}Episode {{ file.episode }}{% else %}Episodes {{ file.episode }}–{{ file.last_episode }}{% endif %}</a><br/>
			{{ file.quality.quality_title }}<br/>
			{% if file.audiotrack %}Audio tracks: {% for track in file.audiotrack %}
				{% if track.default == 1 and track.language not in native_language %}<span class="badge badge-warning">
				{% elif track.default == 1 %}<span class="badge badge-success">
				{% else %}<span class="badge badge-light">
				{% endif %}{{ track.language }}{% if track.default == 1 and track.language not in native_language %} (foreign){% endif %}</span> {% endfor %}<br/>{% endif %}
			{% if file.subtrack|length > 0 %}Subtitle tracks: {% for track in file.subtrack %}
				{% if track.default == 1 %}<span class="badge badge-success">
				{% elif track.forced == 1 %}<span class="badge badge-warning">
				{% else %}<span class="badge badge-light">
				{% endif %}{{ track.language }}{% if track.default == 1 %} (default){% elif track.forced == 1 %} (forced){% endif %}</span> {% endfor %}<br/>{% endif %}
		</div>
	{% endif %}
</div>
{% endfor %}

<nav class="d-block d-sm-none" aria-label="...">
	<ul class="pagination">
		<li class="page-item{% if not prev_url %} disabled{% endif %}">
			<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
		</li>
		{% if pages %}
		{% for page in pages.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
			{% if page %}
				{% if page == pages.page %}
					<li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li class="page-item{% if not next_url %} disabled{% endif %}">
			<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
		</li>
	</ul>
</nav>
<nav class="d-none d-sm-block" aria-label="...">
	<ul class="pagination">
		<li class="page-item{% if not prev_url %} disabled{% endif %}">
			<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
		</li>
		{% if pages %}
		{% for page in pages.iter_pages() %}
			{% if page %}
				{% if page == pages.page %}
					<li class="page-item active"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page) }}">{{ page }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li class="page-item{% if not next_url %} disabled{% endif %}">
			<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
		</li>
	</ul>
</nav>
{% endif %}
{% endblock %}