{% extends "base.html" %}

{% block app_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('main.tv_library') }}">TV Shows</a></li>
		<li class="breadcrumb-item"><a href="{{ url_for('main.tv', series_id=tv.id) }}">{{ tv.tmdb_name if tv.tmdb_name else tv.title }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% if season|int == 0 %}Specials{% else %}Season {{ season }}{% endif %}</li>
	</ol>
</nav>
<h4>{% if season|int == 0 %}Specials{% else %}Season {{ season }}{% endif %}</h4>
{% for episode in episodes %}
<div class="media mb-2">
	{% include "_tv_poster_small.html" %}
	<div class="media-body">
		<h5 class="mb-2">Episode {{ episode.episode }}</h5>
		<div class="list-group col-12 col-md-8 col-lg-6">
			{% for file in episode.files %}
				<a href="{{ url_for('main.file', file_id=file.id) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
					{{ file.basename }}
					{% if file.rank == 1 %}<span class="badge badge-success">Best</span>{% endif %}
				</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}