{% extends "base.html" %}

{% block app_content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('main.tv_library') }}">TV Shows</a></li>
		<li class="breadcrumb-item"><a href="{{ url_for('main.tv', series_id=tv.id) }}">{{ tv.tmdb_name if tv.tmdb_name else tv.title }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% if season|int == 0 %}Specials{% else %}Season {{ season }}{% endif %}</li>
	</ol>
</nav>
<h2 class="mt-n2">{{ title }}</h2>
<div class="row my-2">
	<div class="col-sm-4 col-md-3">
		<form action="" method="post">
			{{ season_restore_form.hidden_tag() }}
			{{ season_restore_form.password(class_="form-control form-control-sm mb-1", placeholder="Password") }}
			{{ season_restore_form.season_restore_submit(class_="btn btn-sm btn-primary container") }}
		</form>
		{% if season_restore_estimate.count %}
		<em class="small text-muted">≈ ${{ "%.2f"|format(season_restore_estimate.cost) }} for {{ season_restore_estimate.count }} file(s), {{ "%.1f"|format(season_restore_estimate.gigabytes) }} GB</em>
		{% else %}
		<em class="small text-muted">No archived files to restore</em>
		{% endif %}
	</div>
</div>
<table class="table table-striped">
	<thead class="thead-light">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Episode</th>
			<th scope="col">File</th>
			<th scope="col">Quality</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for file, tv, quality, rank in files %}
		<tr>
			<th scope="row" class="align-middle">{{ file.id }}</th>
			<td class="align-middle">{{ file.episode }}{% if file.episode != file.last_episode %}-{{ file.last_episode }}{% endif %}</td>
			<td class="align-middle"><a href="{{ url_for('main.file', file_id=file.id) }}">{{ file.basename }}</a></td>
			<td class="align-middle">{{ quality.quality_title }}</td>
			<td class="align-middle">{% if quality.physical_media %}<span class="badge badge-success">Physical media</span>{% endif %}</td>
			<td class="align-middle">{% if rank == 1 %}<span class="badge badge-success">Best</span>{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}