{% extends "base.html" %}

{% block app_content %}
<div class="mt-n2">
	<h2>{{ title }}</h2>
</div>
<div class="row align-items-end mt-n2">
	<div class="col-md-6 mb-n4 me-auto">
		<form action="" method="post">
			{{ filter_form.hidden_tag() }}
			<div class="row g-2">
				<div class="col-12 col-sm-11">
					<div class="mb-3 form-inline">
						{{ filter_form.quality.label(class_="me-2") }}
						{{ filter_form.quality(class_="form-select form-select-sm col-5 me-2") }}
						{{ filter_form.filter_submit(class_="btn btn-sm btn-primary col") }}
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6 col-lg-4 mt-4 mb-n2">
		<form class="form-inline" action="" method="post">
			{{ library_search_form.hidden_tag() }}
			{{ library_search_form.search_query(class_="form-control form-control-sm me-2 col-8") }}
			{{ library_search_form.search_submit(class_="btn btn-sm btn-primary ms-2 col") }}
		</form>
	</div>
</div>
<hr>
{% if series %}
{% for tv in series %}
{# Stacked on phones (poster above the seasons), side-by-side from sm up #}
<div class="d-flex flex-column flex-sm-row">
	<div class="sticky-top pt-1 mt-n1 align-self-start" style="z-index: 100; top: 60px;">
		<a href="{{ url_for('main.tv', series_id=tv.id) }}">
			{% include "_tv_poster_small.html" %}
		</a>
	</div>
	<div class="flex-grow-1 w-100">
		{# TMDB name plus first-air year, like the TV Library page #}
		<h5 class="mt-2 mt-sm-0"><a href="{{ url_for('main.tv', series_id=tv.id) }}">{% if tv.tmdb_name %}{{ tv.tmdb_name }}{% if tv.first_air_year %} ({{ tv.first_air_year }}){% endif %}{% else %}{{ tv.title }}{% endif %}</a></h5>
		{% if tv.seasons %}
			<ul class="list-group col-12 col-md-8 col-lg-4 ps-0 pl-sm-3">
			{% for season in tv.seasons %}
				<li class="list-group-item">
					<h6><a href="{{ url_for('main.season', series_id=tv.id, season=season.season) }}"><span class="text-body">{% if season.season == 0 %}Specials{% else %}Season {{ season.season }}{% endif %}</span></a></h6>
					<p class="mt-n2"><span class="text-muted">{{ season.instruction }}</span></p>
					{% if season.instruction != "Already owned" %}
						<div class="btn-group mt-n2">
							<a class="btn btn-primary btn-sm" role="button" target="_blank" href="https://www.blu-ray.com/movies/search.php?keyword={{ tv.tmdb_name|urlencode if tv.tmdb_name else tv.title|urlencode }}&television=on&submit=Search&action=search" rel="noreferrer">Find</a>
							<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="visually-hidden">Toggle dropdown</span>
							</button>
							{% include "_shopping_search_dropdown.html" %}
						</div>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
<hr>
{% endfor %}
{% endif %}
{% endblock %}