{% extends "base.html" %}

{% block app_content %}
<div class="mt-n2">
	<h2>{{ title }}</h2>
</div>
<div class="row align-items-end">
	<div class="col-md-7 mb-n4 mr-auto">
		<form action="" method="post">
			{{ filter_form.hidden_tag() }}
			<div class="form-row mb-1">
				{% for subfield in filter_form.filter_status %}
					<div class="col-12">
						<div class="form-check mr-2">
							{{ subfield(class_="form-check-input") }}
							{{ subfield.label(class_="form-check-label") }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="form-row mb-1">
				{% for subfield in filter_form.media %}
					<div class="col-12">
						<div class="form-check mr-2">
							{{ subfield(class_="form-check-input") }}
							{{ subfield.label(class_="form-check-label") }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="form-row">
				<div class="col-12 col-sm-11 col-md-11">
					<div class="form-group form-inline mb-2">
						{{ filter_form.min_quality.label(class_="mr-2") }}
						{{ filter_form.min_quality(class_="form-control form-control-sm col-5 col-md-6 col-lg-5 mr-2") }}
					</div>
					<div class="form-group form-inline">
						{{ filter_form.max_quality.label(class_="mr-2") }}
						{{ filter_form.max_quality(class_="form-control form-control-sm col-5 col-md-6 col-lg-5 mr-2") }}
						{{ filter_form.filter_submit(class_="btn btn-sm btn-primary col col-md-2") }}
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-5 col-lg-4 mt-3 mb-n2">
		<form class="form-inline" action="" method="post">
			{{ library_search_form.hidden_tag() }}
			{{ library_search_form.search_query(class_="form-control form-control-sm mr-2 col-8") }}
			{{ library_search_form.search_submit(class_="btn btn-sm btn-primary ml-2 col") }}
		</form>
	</div>
</div>
<hr>
{% if movies %}
<div class="d-none d-sm-block">
	<nav class="d-none d-sm-block" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages() %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
	{% for file, movie, quality, rating, modified_rating, whole_stars, half_stars, instruction in movies %}
	<div class="media mb-3">
		<a href="{{ url_for('main.movie', movie_id=movie.id) }}">
			{% include "_movie_poster_small.html" %}
		</a>
		<div class="media-body">
			<h5><a href="{{ url_for('main.movie', movie_id=movie.id) }}">{{ movie.tmdb_title if movie.tmdb_title else movie.title }} ({{ movie.tmdb_release_date.strftime('%Y') if movie.tmdb_title else movie.year }})</a></h5>
			<p class="mt-n2">
				{% if rating %}
					{% for n in range(whole_stars | int) %}
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
						</svg>
					{% endfor %}
					{% if half_stars == 1 %}
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
						</svg>
					{% endif %}<br/>
				{% endif %}
				{% if file.edition %}{{ file.edition }}<br>{% endif %}
				<span class="text-muted">{{ instruction }}</span>
			</p>
			{% if instruction != "Already owned" %}
			<div class="btn-group mt-n2">
				{% if (movie.criterion_spine_number or movie.criterion_set_title) and movie.criterion_in_print %}
					<a class="btn btn-primary btn-sm" role="button" target="_blank" href="https://www.criterion.com/search#stq={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}" rel="noreferrer">Find</a>
				{% elif movie.criterion_spine_number or movie.criterion_set_title %}
					<a class="btn btn-primary btn-sm" role="button" target="_blank" href="https://www.ebay.com/sch/617/i.html?_nkw={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }} {{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }} Criterion Collection" rel="noreferrer">Find</a>
				{% else %}
					<a class="btn btn-primary btn-sm" role="button" target="_blank" href="https://www.blu-ray.com/movies/search.php?keyword={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}&yearfrom={{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }}&yearto={{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }}&submit=Search&action=search" rel="noreferrer">Find</a>
				{% endif %}
				<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-expanded="false">
					<span class="sr-only">Toggle dropdown</span>
				</button>
				{% include "_shopping_search_dropdown.html" %}
			</div>
			<p class="mt-n2">
				<form action="" method="post">
					{{ movie_shopping_exclude_form.csrf_token() }}
					{{ movie_shopping_exclude_form.movie_id(value=movie.id) }}
					{% if not movie.shopping_list_exclude %}
						<button class="btn btn-sm btn-light" id="exclude_submit" name="exclude_submit" type="submit" value="Remove from List">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
								<path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
							</svg>
						</button>
					{% else %}
						<button class="btn btn-sm btn-light" id="add_submit" name="add_submit" type="submit" value="Add to List">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
							</svg>
						</button>
					{% endif %}
				</form>
			</p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<nav class="d-none d-sm-block" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages() %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
</div>

<!-- Display differently on mobile device -->

<div class="d-block d-sm-none mt-n2">
	<nav class="d-block d-sm-none" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
	<ul class="list-group">
		{% for file, movie, quality, rating, modified_rating, whole_stars, half_stars, instruction in movies %}
			<li class="list-group-item">
				<a href="{{ url_for('main.movie', movie_id=movie.id) }}">
					{% include "_movie_poster_small.html" %}
				</a>
				<h6><a href="{{ url_for('main.movie', movie_id=movie.id) }}"><span class="text-body">{{ movie.tmdb_title if movie.tmdb_title else movie.title }} ({{ movie.tmdb_release_date.strftime('%Y') if movie.tmdb_title else movie.year }})</span></a></h6>
				<p class="mt-n2">
					{% if rating %}
						{% for n in range(whole_stars | int) %}
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
							</svg>
						{% endfor %}
						{% if half_stars == 1 %}
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
							</svg>
						{% endif %}<br/>
					{% endif %}
					{% if file.edition %}{{ file.edition }}<br>{% endif %}
					<span class="text-muted">{{ instruction }}</span>
				</p>
				<div class="mt-n2">
					{% if instruction != "Already owned" %}
						<div class="btn-group mt-n2">
							{% if movie.criterion_spine_number or movie.criterion_set_title %}
								<a class="btn btn-primary btn-sm" role="button" target="_blank" href="https://www.criterion.com/search#stq={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}" rel="noreferrer">Find</a>
							{% else %}
								<a class="btn btn-primary btn-sm" role="button" target="_blank" href="https://www.blu-ray.com/movies/search.php?keyword={{ movie.tmdb_title|urlencode if movie.tmdb_title else movie.title|urlencode }}&yearfrom={{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }}&yearto={{ movie.tmdb_release_date.strftime('%Y') if (movie.tmdb_title and movie.tmdb_release_date) else movie.year }}&submit=Search&action=search" rel="noreferrer">Find</a>
							{% endif %}
							<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-expanded="false">
								<span class="sr-only">Toggle dropdown</span>
							</button>
							{% include "_shopping_search_dropdown.html" %}
						</div>
						<div class="mt-2 mb-0">
							<form action="" method="post">
								{{ movie_shopping_exclude_form.csrf_token() }}
								{{ movie_shopping_exclude_form.movie_id(value=movie.id) }}
								{% if not movie.shopping_list_exclude %}
									<button class="btn btn-sm btn-light" id="exclude_submit" name="exclude_submit" type="submit" value="Remove from List">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
											<path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
											<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
										</svg>
									</button>
								{% else %}
									<button class="btn btn-sm btn-light" id="add_submit" name="add_submit" type="submit" value="Add to List">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
											<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
											<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
										</svg>
									</button>
								{% endif %}
							</form>
						</div>
					</div>
					{% endif %}
			</li>
		{% endfor %}
	</ul>
	<nav class="d-block d-sm-none mt-2" aria-label="...">
		<ul class="pagination">
			<li class="page-item{% if not prev_url %} disabled{% endif %}">
				<a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">&laquo;</a>
			</li>
			{% if pages %}
			{% for page in pages.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
				{% if page %}
					{% if page == pages.page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('main.movie_shopping', page=page, q=request.args.get('q'), library=request.args.get('library'), media=request.args.get('media'), min_quality=request.args.get('min_quality'), max_quality=request.args.get('max_quality')) }}">{{ page }}</a></li>
					{% endif %}
				{% else %}
					<li class="page-item disabled align-middle"><span class="page-link">…</span></li>
				{% endif %}
			{% endfor %}
			{% endif %}
			<li class="page-item{% if not next_url %} disabled{% endif %}">
				<a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">&raquo;</a>
			</li>
		</ul>
	</nav>
</div>
{% endif %}
{% endblock %}